In [35]:
import pandas as pd

data = pd.read_csv("bank-full.csv", sep=";")

data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [36]:
# è³‡æ–™åˆ†æï¼šæ¬„ä½è³‡è¨Š
print("=== è³‡æ–™é›†åŸºæœ¬è³‡è¨Š ===")
print(f"è³‡æ–™ç­†æ•¸: {data.shape[0]:,}")
print(f"æ¬„ä½æ•¸é‡: {data.shape[1]}")
print(f"è³‡æ–™å¤§å°: {data.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

print("\n=== æ¬„ä½åç¨±å’Œè³‡æ–™å‹æ…‹ ===")
data.info()

print("\n=== å„æ¬„ä½çš„å”¯ä¸€å€¼æ•¸é‡ ===")
for col in data.columns:
    unique_count = data[col].nunique()
    print(f"{col}: {unique_count} å€‹å”¯ä¸€å€¼")
    if unique_count <= 10:  # å¦‚æœå”¯ä¸€å€¼å°‘æ–¼ç­‰æ–¼10å€‹ï¼Œé¡¯ç¤ºæ‰€æœ‰å€¼
        print(f"  â†’ {sorted(data[col].unique())}")
    print()

=== è³‡æ–™é›†åŸºæœ¬è³‡è¨Š ===
è³‡æ–™ç­†æ•¸: 45,211
æ¬„ä½æ•¸é‡: 17
è³‡æ–™å¤§å°: 29.20 MB

=== æ¬„ä½åç¨±å’Œè³‡æ–™å‹æ…‹ ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

=== å„æ¬„ä½çš„å”¯ä¸€å€¼æ•¸é‡ ===
age: 77 å€‹å”¯ä¸€å€¼

job: 12 å€‹å”¯ä¸€å€¼

marital: 3 å€‹å”¯ä¸€å€¼
  â†’ ['divorced', 'married', 'single']

education: 4 å€‹å”¯ä¸€å€¼
  â†’ ['primary', 'secondary', 'tertiary', 'unknown']

default: 2 å€‹å”¯ä¸€å€¼
  â†’ ['no', 'yes']

balance: 7168 å€‹å”¯ä¸€å€¼

housing: 2 å€‹å”¯ä¸€å€¼
  â†’ ['no', 'yes']

loan: 2 å€‹å”¯ä¸€å€¼
  â†’ ['no', 'yes']

contact: 3 å€‹å”¯ä¸€å€¼
  â†’ ['cellular', 'telephone', 'unknown']

day: 31 å€‹å”¯ä¸€å€¼

month: 12 å€‹å”¯ä¸€å€¼

duration: 1573 å€‹å”¯ä¸€å€¼

campaign: 48 å€‹å”¯ä¸€å€¼

pdays: 559 å€‹å”¯ä¸€å€¼

previous: 41 å€‹å”¯ä¸€å€¼

poutcome: 4 å€‹å”¯ä¸€å€¼
  â†’ ['failure', 'other', 'success', 'unknown']

y: 2 å€‹å”¯ä¸€å€¼
  â†’ ['no', 'yes']

In [37]:
# (æ‰‹å‹•)ç§»é™¤ä¸å¿…è¦çš„ç‰¹å¾µ
# ç§»é™¤ dayå› ç‚ºèˆ‡ month ç›¸é—œï¼Œè€Œä¸”å“ªä¸€å¤©å½±éŸ¿ä¸å¤§
# ç§»é™¤ maritalã€educationã€contactã€pdays å› ç‚ºèˆ‡æ˜¯å¦è²¸æ¬¾è¼ƒç„¡é—œ
my_choice_data = data.drop(['day','marital','education','contact', 'pdays'],axis=1)
display(my_choice_data)

,age,job,default,balance,housing,loan,month,duration,campaign,previous,poutcome,y
0,58,management,no,2143,yes,no,may,261,1,0,unknown,no
1,44,technician,no,29,yes,no,may,151,1,0,unknown,no
2,33,entrepreneur,no,2,yes,yes,may,76,1,0,unknown,no
3,47,blue-collar,no,1506,yes,no,may,92,1,0,unknown,no
4,33,unknown,no,1,no,no,may,198,1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,no,825,no,no,nov,977,3,0,unknown,yes
45207,71,retired,no,1729,no,no,nov,456,2,0,unknown,yes
45208,72,retired,no,5715,no,no,nov,1127,5,3,success,yes
45209,57,blue-collar,no,668,no,no,nov,508,4,0,unknown,no
45210,37,entrepreneur,no,2971,no,no,nov,361,2,11,other,no

In [38]:
# æª¢æŸ¥æœ‰ç„¡ç¼ºå¤±å€¼
print("=== æª¢æŸ¥ç¼ºå¤±å€¼ ===")
missing_values = my_choice_data.isnull().sum()
total_missing = missing_values.sum()
if total_missing == 0:
    print("âœ… è³‡æ–™é›†ä¸­æ²’æœ‰ç¼ºå¤±å€¼ã€‚")
else:
    print(f"âš ï¸ è³‡æ–™é›†ä¸­æœ‰ {total_missing} å€‹ç¼ºå¤±å€¼ï¼Œè«‹é€²è¡Œè™•ç†ã€‚")
    print(missing_values[missing_values > 0])
my_choice_data.isnull().sum()

=== æª¢æŸ¥ç¼ºå¤±å€¼ ===
âœ… è³‡æ–™é›†ä¸­æ²’æœ‰ç¼ºå¤±å€¼ã€‚

age         0
job         0
default     0
balance     0
housing     0
loan        0
month       0
duration    0
campaign    0
previous    0
poutcome    0
y           0
dtype: int64

In [39]:
# è½‰æ›é¡åˆ¥å‹è®Šæ•¸ç‚ºæ•¸å€¼å‹è®Šæ•¸
# ä½¿ç”¨LabelEncoderå°‡è³‡æ–™é¡å‹è½‰æ›ç‚ºNumber
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in my_choice_data.select_dtypes(include=['object']).columns:
  my_choice_data[col] = le.fit_transform(my_choice_data[col])

display(my_choice_data)

,age,job,default,balance,housing,loan,month,duration,campaign,previous,poutcome,y
0,58,4,0,2143,1,0,8,261,1,0,3,0
1,44,9,0,29,1,0,8,151,1,0,3,0
2,33,2,0,2,1,1,8,76,1,0,3,0
3,47,1,0,1506,1,0,8,92,1,0,3,0
4,33,11,0,1,0,0,8,198,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,0,825,0,0,9,977,3,0,3,1
45207,71,5,0,1729,0,0,9,456,2,0,3,1
45208,72,5,0,5715,0,0,9,1127,5,3,2,1
45209,57,1,0,668,0,0,9,508,4,0,3,0
45210,37,2,0,2971,0,0,9,361,2,11,1,0

In [40]:
# # å°‡è³‡æ–™æ¡†åŒ¯å‡ºæˆCSVæª”æ¡ˆ
# print("=== åŒ¯å‡ºè³‡æ–™åˆ°CSVæª”æ¡ˆ ===")

# # æ–¹æ³•1ï¼šåŒ¯å‡ºåˆ°ç•¶å‰ç›®éŒ„
# my_choice_data.to_csv("bank_my_choice.csv", index=False)
# print("âœ… å·²åŒ¯å‡ºåˆ° bank_my_choice.csv")

# # æ–¹æ³•2ï¼šåŒ¯å‡ºåˆ°æŒ‡å®šè·¯å¾‘ï¼ˆå¯é¸ï¼‰
# # my_choice_data.to_csv("/path/to/your/bank_my_choice.csv", index=False)

# # æ–¹æ³•3ï¼šåŒ¯å‡ºæ™‚æŒ‡å®šç·¨ç¢¼ï¼ˆè™•ç†ä¸­æ–‡å­—ç¬¦ï¼‰
# # my_choice_data.to_csv("bank_my_choice_utf8.csv", index=False, encoding='utf-8')

# # æª¢æŸ¥åŒ¯å‡ºçš„æª”æ¡ˆè³‡è¨Š
# print(f"åŒ¯å‡ºè³‡æ–™ç¶­åº¦: {my_choice_data.shape}")
# print(f"åŒ¯å‡ºæ¬„ä½: {list(my_choice_data.columns)}")

# # é©—è­‰åŒ¯å‡ºçµæœ - è®€å–å‰›åŒ¯å‡ºçš„æª”æ¡ˆä¾†ç¢ºèª
# verify_data = pd.read_csv("bank_my_choice.csv")
# print(f"é©—è­‰è®€å–ç¶­åº¦: {verify_data.shape}")
# print("âœ… CSVæª”æ¡ˆåŒ¯å‡ºæˆåŠŸï¼")

In [41]:
# è³‡æ–™åˆ†å‰² x å’Œ y
# æ³¨æ„ï¼šscalered_dataæ˜¯numpy arrayï¼Œéœ€è¦å…ˆåˆ†é›¢ç‰¹å¾µå’Œç›®æ¨™è®Šæ•¸å†é€²è¡Œæ­£è¦åŒ–

# æ–¹æ³•1ï¼šå¾åŸå§‹è³‡æ–™åˆ†é›¢ï¼Œç„¶å¾Œåˆ†åˆ¥è™•ç†
print("=== æ­£ç¢ºçš„è³‡æ–™åˆ†å‰²å’Œæ­£è¦åŒ–æµç¨‹ ===")

# å…ˆå¾åŸå§‹è³‡æ–™åˆ†é›¢ç‰¹å¾µå’Œç›®æ¨™è®Šæ•¸
X = my_choice_data.drop('y', axis=1)  # ç‰¹å¾µ
y = my_choice_data['y']               # ç›®æ¨™è®Šæ•¸

print(f"ç‰¹å¾µçŸ©é™£å½¢ç‹€: {X.shape}")
print(f"ç›®æ¨™è®Šæ•¸å½¢ç‹€: {y.shape}")

# é€²è¡Œè³‡æ–™åˆ†å‰²
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

=== æ­£ç¢ºçš„è³‡æ–™åˆ†å‰²å’Œæ­£è¦åŒ–æµç¨‹ ===
ç‰¹å¾µçŸ©é™£å½¢ç‹€: (45211, 11)
ç›®æ¨™è®Šæ•¸å½¢ç‹€: (45211,)

In [42]:

# æº–å‚™æ­£è¦åŒ–æ‰€éœ€çš„å¥—ä»¶
from sklearn.preprocessing import StandardScaler
# åªå°ç‰¹å¾µé€²è¡Œæ­£è¦åŒ–ï¼ˆç›®æ¨™è®Šæ•¸é€šå¸¸ä¸éœ€è¦æ­£è¦åŒ–ï¼‰
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)  # æ³¨æ„ï¼šæ¸¬è©¦é›†ä½¿ç”¨transformï¼Œä¸æ˜¯fit_transform

print(f"è¨“ç·´é›†ç‰¹å¾µå½¢ç‹€: {X_train_scaled.shape}")
print(f"æ¸¬è©¦é›†ç‰¹å¾µå½¢ç‹€: {X_test_scaled.shape}")
print(f"è¨“ç·´é›†ç›®æ¨™å½¢ç‹€: {y_train.shape}")
print(f"æ¸¬è©¦é›†ç›®æ¨™å½¢ç‹€: {y_test.shape}")

print("\nâœ… è³‡æ–™åˆ†å‰²å’Œæ­£è¦åŒ–å®Œæˆï¼")

è¨“ç·´é›†ç‰¹å¾µå½¢ç‹€: (36168, 11)
æ¸¬è©¦é›†ç‰¹å¾µå½¢ç‹€: (9043, 11)
è¨“ç·´é›†ç›®æ¨™å½¢ç‹€: (36168,)
æ¸¬è©¦é›†ç›®æ¨™å½¢ç‹€: (9043,)

âœ… è³‡æ–™åˆ†å‰²å’Œæ­£è¦åŒ–å®Œæˆï¼

In [43]:
# ğŸ“š æ©Ÿå™¨å­¸ç¿’è³‡æ–™è™•ç†çš„æ­£ç¢ºæµç¨‹èªªæ˜
print("=== æ©Ÿå™¨å­¸ç¿’è³‡æ–™è™•ç†çš„æ­£ç¢ºé †åº ===")
print()
print("âœ… æ­£ç¢ºæµç¨‹ï¼š")
print("1. è³‡æ–™æ¸…ç† (ç§»é™¤ç¼ºå¤±å€¼ã€ç•°å¸¸å€¼)")
print("2. ç‰¹å¾µå·¥ç¨‹ (ç·¨ç¢¼é¡åˆ¥è®Šæ•¸)")
print("3. åˆ†é›¢ç‰¹å¾µ(X)å’Œç›®æ¨™è®Šæ•¸(y)")
print("4. è³‡æ–™åˆ†å‰² (train/test split)")
print("5. ç‰¹å¾µæ­£è¦åŒ– (åªå°ç‰¹å¾µï¼Œä¸å°ç›®æ¨™è®Šæ•¸)")
print("6. æ¨¡å‹è¨“ç·´")
print()
print("âš ï¸ é‡è¦æ³¨æ„äº‹é …ï¼š")
print("â€¢ æ­£è¦åŒ–æ‡‰è©²åœ¨è³‡æ–™åˆ†å‰²ä¹‹å¾Œé€²è¡Œ")
print("â€¢ åªå°ç‰¹å¾µé€²è¡Œæ­£è¦åŒ–ï¼Œç›®æ¨™è®Šæ•¸é€šå¸¸ä¿æŒåŸæ¨£")
print("â€¢ æ¸¬è©¦é›†ä½¿ç”¨è¨“ç·´é›†çš„scaleråƒæ•¸(é¿å…è³‡æ–™æ´©éœ²)")
print("â€¢ StandardScalerè¼¸å‡ºæ˜¯numpy arrayï¼Œä¸æ˜¯DataFrame")

# æª¢è¦–æˆ‘å€‘è™•ç†å¾Œçš„è³‡æ–™
print(f"\nğŸ“Š ç›®å‰è³‡æ–™ç‹€æ…‹ï¼š")
print(f"X_train_scaled type: {type(X_train_scaled)}")
print(f"X_train_scaled shape: {X_train_scaled.shape}")
print(f"y_train type: {type(y_train)}")
print(f"y_train shape: {y_train.shape}")

# é¡¯ç¤ºå‰å¹¾è¡Œè³‡æ–™ï¼ˆè½‰æ›ç‚ºDataFrameæ–¹ä¾¿æŸ¥çœ‹ï¼‰
print(f"\nå‰5è¡Œæ­£è¦åŒ–å¾Œçš„ç‰¹å¾µè³‡æ–™ï¼š")
feature_names = my_choice_data.drop('y', axis=1).columns
X_train_df = pd.DataFrame(X_train_scaled, columns=feature_names)
display(X_train_df.head())

print(f"\nå‰5è¡Œç›®æ¨™è®Šæ•¸ï¼š")
display(y_train.head())

=== æ©Ÿå™¨å­¸ç¿’è³‡æ–™è™•ç†çš„æ­£ç¢ºé †åº ===

âœ… æ­£ç¢ºæµç¨‹ï¼š
1. è³‡æ–™æ¸…ç† (ç§»é™¤ç¼ºå¤±å€¼ã€ç•°å¸¸å€¼)
2. ç‰¹å¾µå·¥ç¨‹ (ç·¨ç¢¼é¡åˆ¥è®Šæ•¸)
3. åˆ†é›¢ç‰¹å¾µ(X)å’Œç›®æ¨™è®Šæ•¸(y)
4. è³‡æ–™åˆ†å‰² (train/test split)
5. ç‰¹å¾µæ­£è¦åŒ– (åªå°ç‰¹å¾µï¼Œä¸å°ç›®æ¨™è®Šæ•¸)
6. æ¨¡å‹è¨“ç·´

âš ï¸ é‡è¦æ³¨æ„äº‹é …ï¼š
â€¢ æ­£è¦åŒ–æ‡‰è©²åœ¨è³‡æ–™åˆ†å‰²ä¹‹å¾Œé€²è¡Œ
â€¢ åªå°ç‰¹å¾µé€²è¡Œæ­£è¦åŒ–ï¼Œç›®æ¨™è®Šæ•¸é€šå¸¸ä¿æŒåŸæ¨£
â€¢ æ¸¬è©¦é›†ä½¿ç”¨è¨“ç·´é›†çš„scaleråƒæ•¸(é¿å…è³‡æ–™æ´©éœ²)
â€¢ StandardScalerè¼¸å‡ºæ˜¯numpy arrayï¼Œä¸æ˜¯DataFrame

ğŸ“Š ç›®å‰è³‡æ–™ç‹€æ…‹ï¼š
X_train_scaled type: <class 'numpy.ndarray'>
X_train_scaled shape: (36168, 11)
y_train type: <class 'pandas.core.series.Series'>
y_train shape: (36168,)

å‰5è¡Œæ­£è¦åŒ–å¾Œçš„ç‰¹å¾µè³‡æ–™ï¼š

,age,job,default,balance,housing,loan,month,duration,campaign,previous,poutcome
0,-0.933868,-0.107122,-0.13528,-0.440447,-1.119078,-0.436621,-1.509293,2.285006,-0.571890,-0.24319,0.443734
1,0.008528,-1.023563,-0.13528,0.049741,0.893593,-0.436621,-1.842333,-0.821114,0.394687,-0.24319,0.443734
2,1.704842,-0.107122,-0.13528,-0.288130,-1.119078,-0.436621,-1.509293,-0.023283,-0.571890,-0.24319,0.443734
3,-0.274191,-1.329043,-0.13528,-0.080954,0.893593,2.290317,0.155903,0.573154,-0.249697,-0.24319,0.443734
4,0.008528,-1.023563,-0.13528,-0.417212,-1.119078,-0.436621,-0.177137,-0.251788,0.394687,-0.24319,0.443734

å‰5è¡Œç›®æ¨™è®Šæ•¸ï¼š

20017    1
31835    0
41232    1
10704    0
13670    0
Name: y, dtype: int64

In [52]:
# ç·šæ€§è¿´æ­¸æ¨¡å‹è¨“ç·´ (ç·šæ€§)
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(X_train_scaled, y_train)

score = lr_model.score(X_test_scaled, y_test)

print(f"ç·šæ€§è¿´æ­¸æ“¬åˆæˆåº¦: {score}")
print(f"ä¿‚æ•¸: {lr_model.coef_}")

ç·šæ€§è¿´æ­¸æ“¬åˆæˆåº¦: 0.17991087230917635
ä¿‚æ•¸: [-0.00071481  0.00668627 -0.00362423  0.00941586 -0.04795645 -0.01767056
  0.00234711  0.12679776 -0.01056783  0.02009697 -0.02032867]

In [47]:
# é‚è¼¯è¿´æ­¸æ¨¡å‹è¨“ç·´ (éç·šæ€§)
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
lr_model = LogisticRegression()
lr_model.fit(X_train_scaled, y_train)
y_pred = lr_model.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print(f"é‚è¼¯è¿´æ­¸æº–ç¢ºç‡: {accuracy}")

é‚è¼¯è¿´æ­¸æº–ç¢ºç‡: 0.8865420767444432

In [ ]:
# # å¤šé …å¼è¿´æ­¸æ¨¡å‹è¨“ç·´ (ç·šæ€§)
# from sklearn.preprocessing import PolynomialFeatures
# from sklearn.linear_model import LinearRegression

# # å»ºç«‹å¤šé …å¼ç‰¹å¾µè½‰æ›å™¨
# poly_features = PolynomialFeatures(degree=2)

# # è½‰æ›è¨“ç·´å’Œæ¸¬è©¦è³‡æ–™
# X_train_poly = poly_features.fit_transform(X_train)
# X_test_poly = poly_features.transform(X_test)

# # å»ºç«‹ç·šæ€§è¿´æ­¸æ¨¡å‹ä¸¦è¨“ç·´
# poly_model = LinearRegression()
# poly_model.fit(X_train_poly, y_train)

# # è¨ˆç®—æ¨¡å‹æ“¬åˆæˆåº¦
# poly_score = poly_model.score(X_test_poly, y_test)
# print(f"å¤šé …å¼è¿´æ­¸æ“¬åˆæˆåº¦: {poly_score}")